<div class="home-page-box">
    <div class="home-page">
        <div class="home-page-top">
            <div class="img-avatar-box">
                <img src="../../../assets/images/avata-dn.png" alt="avatar" class="img-avatar">
            </div>
            <div class="home-page__titles">
                <div class="home-page__title" style="font-size: 26px; font-weight: bold;">Dương Nguyễn Rivewer</div>
                <div class="home-page__title" >Liên hệ: nguyentrongduong1098@gmail.com</div>
            </div>
            <div class="home-page__socials">
                <div class="home-page__social" (click)="handleClick('facebook')">
                    <img src="../../../assets/icons/facebook-icon.png" alt="icon-facebook" class="icon-facebook">
                    <p style="margin: auto 0px;">Link Facebook</p>
                </div>
                <div class="home-page__social" (click)="handleClick('tiktok')">
                    <img src="../../../assets/icons/tiktok-icon.png" alt="icon-tiktok" class="icon-tiktok">
                    <p style="margin: auto 0px;">Link Tiktok</p>
                </div>
                <div class="home-page__social">
                    <img src="../../../assets/icons/tiktok-icon.png" alt="icon-tiktok" class="icon-tiktok">
                    <p style="margin: auto 0px;">Home page</p>
                </div>
                <div class="home-page__social">
                    <img src="../../../assets/icons/tiktok-icon.png" alt="icon-tiktok" class="icon-tiktok">
                    <p style="margin: auto 0px;">About page</p>
                </div>
            </div>
        </div>
    </div>
</div>