.home-page-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-page {
    background-color: rgba(255,255,255,0.53);
    width: 800px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 96%;
}

.info-box {
    padding: 0px 40px;
}

.info_name {
    font-size: 26px;
    margin-top: 10px;
    font-weight: bold;
}

.info_email {
    margin-top: 10px;
}

.info-box_avatar {
    width: 26%;
    border-radius: 26%;
}

.title_review {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 16px;
}

.socials {
    margin-top: 20px;
}

.btn-socials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.home-page__product {
    width: 48%;
    margin: auto;
}

.product__item {
    height: 130px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 6px;
    background-color: rgb(48,177,234, 0.6);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.product__item:hover {
    cursor: pointer;
}

.product__item-images {
    width: 100%;
    height: 70%;
}

.product__item-image {
    width: 100%;
    height: 100%;
}

.product__item-description {
    width: 100%;
    height: 30%;
    border-top: 1px solid rgb(9,150,238);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-facebook,
.icon-instagram,
.icon-shoppe,
.icon-tiktok,
.icon-zalo {
    cursor: pointer;
    width: 100%;
}

.product-list {
    width: 96%;
    height: 100%;
    margin-bottom: 16px;
    margin-top: 10px;
}

.products {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 16px;
}

.products-left {
    background-color: #ffffff;
    width: 40%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .product-image {
        height: 100%;
        width: auto;
        border-radius: 10px;
    }
}

.products-right {
    width: 60%;
    height: 100%;
    margin-top: 80px;
    .products-right_title {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }
    .products-right_description{
        text-align: center;
        margin-top: 16px;
        font-size: 16px;
    }
}

.scroll-bar-product {
    height: 68%; 
    overflow: auto;
}

.product-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 10px;
    div {
        font-weight: 600;
        padding: 10px 20px;
        border-radius: 20px;
    }
    div:hover {
        cursor: pointer;
    }
}

.active_class {
    background-color: #ffffff;
    color: #000000;
}
.unActive_class {
    background-color: #000000;
    color: #ffffff;
}

.product-items {
    margin-top: 6px;
}


@media screen and (max-width: 768px) {
    .info-box_email {
        width: 66%;
    }

    .info_email {
        font-size: 12px;
    }

    .info_name {
        font-size: 16px        
    }

    .home-page {
        width: 90%;
    }

    .info-box {
        padding: 0px;
    }

    .info-box_avatar {
        width: 28%;
        border-radius: 28%;
    }

    .title_review {
        font-size: 12px;
    }

    .socials {
        padding: 0px 20px 0px 0px;
    }

    .products {
        height: 90px;
    }

    .products-right {
        margin-top: 16px;
        .products-right_title{
            font-size: 16px;
        }
        .products-right_description{
            font-size: 12px;
            display: none;
        }
    }

    .scroll-bar-product {
        height: 69%;
    }

    .product-nav {
        padding: 0 10px;
        div {
            padding: 6px;
            font-weight: 530;
        }
    }
}