/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(./assets/images/background-dn.png);
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}